name: Publish to RubyGems

on:
  push:
    tags:
      - 'v*'

permissions:
  contents: read

jobs:
  publish:
    name: Push gem to RubyGems.org
    runs-on: ubuntu-latest
    environment: RubyGems release

    permissions:
      id-token: write
      contents: write

    steps:
      - uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: false
          ruby-version: '3.2'

      - name: Install dependencies
        run: bundle install

      - name: Remove Gemfile.lock
        run: rm -vf Gemfile.lock

      - uses: rubygems/release-gem@v1
